body {
	background: hsl(0, 0%, 20%);
	font-family: Verdana;
	color: hsl(0, 0%, 80%);
}

.center {
	position: relative;
	width: 640px;
	left: 50%;
	margin-left: -320px;
}

#head {
	text-align: center;
}

#about {
	padding-bottom: 50px;
}

#cancan {
	height: 360px;
}

#canvas0 {
	position: absolute;
	top: 0;
	left:0;
	z-index: 0;
}

#canvas1 {
	position: absolute;
	top: 0;
	left:0;
	z-index: 1;
}